.tree-table {
  width: 100%;
}

.name-column {
  display: flex;
}

.name-column > span {
  width: 25px;
}

.col-header {
  font-weight: bold;
}

.right-align {
  text-align: right;
  width: 100px;
}

.svg {
  height: 16px;
  padding: 0px 8px;
}
 
.highlight {
  background-color: #bbcaff;
}
